doctype html 
html
  head
    title redMore
    block scripts
    block style
      
  body
    block content
    block footer
    footer.footer
    .container
    .copyright
      | Copyright &copy; 2022 readMore
    .links
      ul
        li
          a(href='#') About
        li
          a(href='#') Help
        li
          a(href='#') Contact
        li
          a(href='#') Terms of Service
        li
          a(href='#') Privacy Policy



      
