doctype html
html
  head
    title ReadMore
    style
        include ../static/contact.css
  body

//- Contact form template
form.contact-form
  //- Name field
  label Name
  input(type='text', name='name')
  
  //- Email field
  label Email
  input(type='email', name='email')
  
  //- Phone number field
  label Phone
  input(type='tel', name='phone')
  
  //- Gender field
  label Gender
  select(name='gender')
    option(value='male') Male
    option(value='female') Female
    option(value='other') Other
  
  //- Message field
  label Message
  textarea(name='message')
  
  //- Submit button
  button(type='submit') Submit
