doctype html
html
  head
    title ReadMore
    style
        include ../static/style.css
  body
    //- navigation bar
  nav
    ul
        
        li
            a(href='/') readMore
        li
            form(action='search.html')
            input(type='text', placeholder='Search for profiles, posts...')
    
        li
            a(href="notification.pug") Notifications
            
        li
            a(href="contact.pug") Contact

            //- home page
div#container
    aside.profile.r1.box
        h2 Profile

    section.mind.r2.box
        h2 Know About Authors

    aside.chats.r3.box
        h2 Chats

    aside.discover.r1.box
        h2 Discover

    section.posts.r2.box
       h2 Read Books

    aside.suggestions.r3.box
        h2 Suggested For You
    





            //- Pug code for the footer


footer.footer
  .container
    .copyright
      | Copyright &copy; 2022 readMore
    .links
      ul
        li
          a(href='#') About
        li
          a(href='#') Help
        li
          a(href='#') Contact
        li
          a(href='#') Terms of Service
        li
          a(href='#') Privacy Policy




    script
      include ../static/script.js 
      
      //- Pug code to load the Font Awesome library
    script(src='https://kit.fontawesome.com/87fefa2ba1.js' crossorigin='anonymous')
