//- Notification page template
doctype html
html
  head
    title Notification
      style
        include ../static/notification.css
  body
    //- Notification container
    div.notification-container
      //- Notification: new book added
      div.notification
        //- Notification icon
        i.fas.fa-book
        //- Notification message
        p New book added: "The Great Gatsby"
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book on sale
      div.notification
        //- Notification icon
        i.fas.fa-dollar-sign
        //- Notification message
        p "To Kill a Mockingbird" is on sale!
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book club meeting
      div.notification
        //- Notification icon
        i.fas.fa-users
        //- Notification message
        p Book club meeting tomorrow at 7pm.
        //- Notification action
        a.notification-action(href='#') View details
      //- Notification: book recommended
      div.notification
        //- Notification icon
        i.fas.fa-thumbs-up
        //- Notification message
        p "Pride and Prejudice" is recommended by a friend.
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book review
      div.notification
        //- Notification icon
        i.fas.fa-star
        //- Notification message
        p "Moby-Dick" has received a 5-star review.
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book discussion
      div.notification
        //- Notification icon
        i.fas.fa-comments
        //- Notification message
        p Join the discussion for "Wuthering Heights".
        //- Notification action
        a.notification-action(href='#') View discussion
      //- Notification: book recommendation
      div.notification
        //- Notification icon
        i.fas.fa-lightbulb
        //- Notification message
        p "The Catcher in the Rye" is recommended for you.
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book award
      div.notification
        //- Notification icon
        i.fas.fa-trophy
        //- Notification message
        p "The Brothers Karamazov" has won a book award.
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book review
      div.notification
        //- Notification icon
        i.fas.fa-star
        //- Notification message
        p "Frankenstein" has received a 3-star review.
        //- Notification action
        a.notification-action(href='#') View book
      //- Notification: book club meeting
      div.notification
        //- Notification icon
        i.fas.fa-users
        //- Notification message
       
